<div id="tabs-card" class="card text-center">
  <div class="card-header">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a (click)="showTab = 'imagenes' " [class]="showTab == 'imagenes'? 'flex-sm-fill text-sm-center nav-link active':'flex-sm-fill text-sm-center nav-link'" aria-current="page" >Fotos</a>
      <a (click)="showTab = 'mapa' " [class]="showTab == 'mapa'? 'flex-sm-fill text-sm-center nav-link active':'flex-sm-fill text-sm-center nav-link'" >Mapa</a>
    </nav>
  </div>
  <div *ngIf="showTab == 'imagenes'" class="">
    <img src="https://live.staticflickr.com/4049/4530846236_5c38702c99_h.jpg" class="card-img-top" alt="...">
  </div>
  <div *ngIf="showTab == 'mapa'" class="">
    <app-map></app-map>
  </div>
</div>
